<form action="/incluir_conta" method="POST">

    <p>Incluir conta</p>

    <label for="nome">Nome da conta:</label>
    <input type="text" name="nome">
    <br>
    <label for="valor">Valor da conta:</label>
    <input type="text" name="valor">
    <br>
    <label for="datavenc">Data de vencimento:</label>
    <br>
    <input type="date" name="datavenc">
    <br />
    <label for="datapag">Data de pagamento:</label>
    <br>
    <input type="date" name="datapag">
    <br /><br >
    <button type="submit">Incluir conta</button>

</form>